doctype
html(lang="en")
  head
    title Michael Dougherty
    link(rel='stylesheet', href='style.css')
    meta(charset='utf-8')
    meta(name="description", content="Michael Dougherty is a programmer-musician in Portland, OR")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(property="og:description", content="Michael Dougherty is a programmer-musician in Portland, OR")
  body
    #root
      section#intro: .container
        h1 Michael Dougherty
        
        div
          .chunk software engineer &amp; musician
          .chunk in Portland, OR
        
        .contact

          //- | contact
          //- span.separator :

          ul
            //- li
            //-   a(href='mailto:michael.douglas.dougherty@gmail.com') email
            li
              a(href='http://github.com/maackle') github
            li
              a(href='https://www.linkedin.com/in/michael1111/') linkedin
            li
              a(href='/resume.pdf') resume
