@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

:root {
  color-scheme: dark light;
}

html,
body {
  margin: 0;
  color: #ddd;
  background-color: #282828;
  font-family: 'Libre Baskerville';
  text-align: center;

  @media (prefers-color-scheme: light) {
    color: #333;
    background-color: #eee;
  }
}

a:link,
a:visited {
  color: #cc5b5b;
}

a:hover {
  color: #e6bbbb;
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    margin: 1em 0;
  }

  @media (min-width: 600px) {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    justify-items: start;

    li {
      margin: 0;
      margin-right: 20px;
    }
  }
}

.contact {
  margin: 8pt auto;

  .separator {
    margin: 0 10px;
    display: inline-block;
  }
}

.chunk {
  display: inline-block;
  margin: 0.15rem;
}

section {
  padding: 15px;
}

#intro {
  padding-top: 150px;
}

section:nth-of-type(2n) {
  background-color: #303030;

  @media (prefers-color-scheme: light) {
    background-color: #f0f0f0;
  }
}

.container {
  text-align: left;
  margin: auto;
  max-width: 600px;
}

p {
  vertical-align: middle;
}

img {
  max-width: 600px;
}

h1,
h2,
h3,
h4 {
  margin: 8pt 0;
  padding: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3,
h4 {
  margin: auto;
}

.title {
  width: 700px;
}


table.stats {
  margin: auto;
  text-align: left;
  width: 100%;
}

table.stats th {
  text-align: right;
  text-transform: uppercase;
}

table.stats th,
td {
  padding: 5px 6px;
  width: 50%;
}