doctype

html
	head
		block head
			meta(name="viewport", content="width=device-width, initial-scale=1")

		block styles


	body
		block body
			#root
				block navbar
					.fixed-container(style="height: 70px;")
						.fixed
							.container
								nav#navbar
									ul.right
										//- li.dither-light
										//- 	a(href="mailto:maackle.d@gmail.com") maackle.d@gmail.com
									ul.left
										li.dither-black: a(href="/", style="color: white;") Michael Dougherty
									ul.left
										li.dither-light: a(href="/web.html") websites
										li.dither-light: a(href="/resume.html") resume
										//- li.dither-light
										//- 	a(href="/resume.html") résumé
								#post-header

				.container
					block content
				#root_footer
			#footer_container
				block footer
					#pre-footer
					footer#footer
